*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 0;
    margin: 0;
}

body{
    background-color: #0d1d31;
}

/* Section Landing */
.cover{
    border: 2px greenyellow solid;
    display: flex;
    flex-direction: row;
}


/* IMAGEN DE PORTADA */

.cover-foto{
    border: 2px solid magenta;
    padding: 25px;
    width: 50%;
}

.cover-foto img{
    background-size: cover;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 80%;
    height: 80vh;
}

/* Nombre y titulo */

.name-container{
    padding: 50px;
    width: 50%;
}

.name{
    font-size: 4rem;
    text-align: end;
}

.subtitle{
    font-size: 2rem;
    text-align: end;
}

.name span{
    font-size: 4rem;
    color: #a4a8ad;
}

.about-me {
    text-align: justify;
    padding-top: 50px;
}


/* ANIMACIÓN DEL COVER */
.animation-cover {
    border: #26aee4 2px solid;
    overflow: hidden;
}

.animation-cover p {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.animation-cover p.active {
    opacity: 1;
    transform: translateY(0);
}

.animation-cover p.inactive{
    opacity: 0;
    position: absolute;
    margin-top: -200px;
}

.animation-cover p strong {
    color: #26aee4;
    text-shadow: 0px 0px 30px rgba(84, 105, 223, 0.8);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .cover{
        flex-direction: column;
        align-items: center;
    }

    .cover-foto{
        width: 100%;
        border: 2px solid magenta;
        padding: 0px;
    }
    
    .cover-foto img{
        width: 60%;
        height: 30vh;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 120px;
        padding: 20px;
        justify-content: center;
    }

}

/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .cover{
        flex-direction: column;
    }

    .cover-foto{
        width: 100%;
        border: 2px solid green;
        padding: 0px;
    }
    
    .cover-foto img{
        width: 60%;
        height: 30vh;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 120px;
        padding: 20px;
        justify-content: center;
    }
}

/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .cover{
        flex-direction: column;
    }

    .cover-foto{
        border: 2px solid blue;
        width: 100%;
        padding: 0px;
    }
    
    .cover-foto img{
        height: 40vh;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 120px;
        padding: 25px;
        justify-content: center;
    }
    
    .name-container{
        width: 100%;
        padding: 0px;
    }
    
    .name{
        font-size: 2rem;
        
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .name span{
        font-size: 2rem;
        color: #a4a8ad;
    }

    .subtitle{
        font-size: 1.5rem;
        text-align: end;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    .about-me {
        text-align: justify;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    

}