.nav-container{
    position: absolute;
    margin-top: 40px;
}

.nav-container ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.nav-container ul li{
    font-size: 1rem;
    margin-left: 10px;
    
    background-image: linear-gradient(to right, #ffff, #fff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    
    font-weight: bold;
}

.nav-container ul li:hover{
    background-image: linear-gradient(to right,  #DB00FF, #00B7FF, #00FFD2);
    cursor: pointer;
    scale: 1.2;
}

.nav-container ul li.selected{
    display: none;
}

.deactivate {
    display: none;
}


@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .nav-container{
        display: none;
    }

    .touch-widget-container{
        display: block;
        position: fixed;
        bottom: 80px;
        text-align: center;

        width: 50%;
        margin-left: 25%;
        margin-right: auto;

        background-color: #dadada2c;
        border-radius: 300px;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .touch-widget{
        background-image: linear-gradient(
            -225deg,
            #fdfdfd 0%,
            #cccccc 29%,
            #b6b6b6 67%,
            #999999 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 1.5s linear infinite;
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
    }


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .nav-container{
        position: initial;
        width: 100%;
        margin-top: 10px;
    }

    .nav-container ul {
        width: 100%;
        justify-content: space-around;
    }

    .nav-container ul li{
        font-size: 0.70rem;
        margin-left: auto;
        margin-left: 0px;
        background: linear-gradient(to right,#404041 , rgb(126, 126, 126) , #999999 , #c3c3c3 , #555555);
        border-radius: 3px;
        padding: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #00FFCA;
    }

}