.nav-container{
    position: absolute;
    margin-top: 40px;
}

.nav-container ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.nav-container ul li{
    font-size: 1rem;
    margin-left: 10px;
    
    background-image: linear-gradient(to right, #ffff, #fff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    
    font-weight: bold;
}

.nav-container ul li:hover{
    background-image: linear-gradient(to right,  #DB00FF, #00B7FF, #00FFD2);
    cursor: pointer;
    scale: 1.2;
}

.nav-container ul li.selected{
    display: none;
}


@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .nav-container{
        position: fixed;
        top: 90vh;
        width: 100%;
    }

    .nav-container ul {
        width: 100%;
        justify-content: space-around;
    }

    .nav-container ul li{
        font-size: 0.70rem;
        margin-left: auto;
        margin-left: 0px;
        border: 1px gray solid;
        background: #DB00FF;
        border-radius: 3px;
        padding: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #00B7FF;
    }

}